.toolbar{
    position: absolute;
    top: 50px;
    right: 15px;
    background-color: #303336;
    color: aliceblue;
    padding: 10px 10px;
}

.zones_toolbar{
    top: 20px;
    left: 20px;
    width: max-content;
}